@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhaijaan 2", cursive;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #080808;
  color: white;
}

/* --------------Header------------  */
#header {
  width: 100%;
  height: 100vh;
  background-image: url(BG.jpg);
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 10%;
}
.left {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 23px;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin-top: 12%;
  font-size: 40px;
}
.header-text h1 {
  font-size: 60px;
  line-height: 75px;
}
.header-text h1 span {
  color: #ff004f;
}

.github {
  text-decoration: none;
  color: #ff004f;
  font-size: 30px;
}
.github i {
  padding-right: 8px;
}

/* ----------About-------------- */
#about {
  padding: 80px 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.video-container {
  width: 100%;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
  border-radius: 20px;
}

.caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  border-radius: 15px;
  font-size: 20px;
  padding: 80px 0 80px 8px;
  color: #ababab;
  z-index: 1;
  position: relative;
}
.about-col-1{
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}
.about-col-2 {
  flex-basis: 60%;
}
.about-col-2 p {
  font-size: 19px;
}
.about_btn{
  display: flex;
  flex-direction: row;
  gap: 3px;
}
.about_btn a{
  display: block;
  margin: 10px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
  font-size: 20px;
}
.about_btn a:hover {
  background: #ff004f;
}
.sub-title {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}
#font {
  font-size: 23px;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 19px;
}
.tab-contents ul li span {
  color: #b54769;
  font-size: 21px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
.download-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 18px;
  background-color: #ff6b6b;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s ease;
}

.download-btn:hover {
  background-color: #ff4c4c;
  transform: translateY(-2px);
}

/* ----------------Experience---------- */
#experience {
  padding: 50px 0;
}
.experience-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.experience-item {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(255, 85, 85, 0.3);
}
.experience-item h2 {
  margin: 0;
  color: #ff004f;
}
.position {
  font-style: italic;
  color: #b54769;
}
.experience-item ul {
  padding-left: 20px;
}
.bold{
  font-style: italic;
}

/*  */
.experience-links {
  margin-top: 6px;
  font-size: 13px;
  color: #082ae7;
}

.experience-links a {
  color: #ffffff;
  text-decoration: none;
}

.experience-links a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.experience-links span {
  margin: 0 6px;
}

/* ------------------Projects-------------------  */
#projects {
  padding: 50px 0;
}
/* .work-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
} */

.work-list {
  width: 100%;
  display: flex;
  overflow-x: scroll;
}
.div2 {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}
.work-list::-webkit-scrollbar {
  display: none;
}
#nextBtn,
#backBtn {
  height: 60px;
  width: 60px;
  filter: invert(1);
  cursor: pointer;
  margin: 40px;
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  height: 350px;
  transition: transform 0.5s;
}
.work:hover img {
  transform: scale(1.1);
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
  font-size: 20px;
}

.btn:hover {
  background: #ff004f;
}
.btn i {
  font-size: 20px;
  padding-left: 8px;
}
.pro {
  text-align: center;
}
.tab_head {
  display: flex;
  justify-content: space-between;
}

/* ----------Skills------------- */
.skills {
  min-height: 90vh;
}
.skills .s_container {
  color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 2rem;
}
.skills .s_container .row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.8rem;
}
.skills .s_container .bar {
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: #88062f;
  transition: 0.2s;
}
.skills .s_container .bar:hover {
  box-shadow: 0 8px 10px #ff004f !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
}
.skills .s_container .bar .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  margin-top: 20px;
}
.skills .s_container .bar .info{
  gap: 2px;
  margin-top: 20px;
}
.skills .container .bar .info i {
  font-size: 3rem;
}
.skills .container .bar .info span {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 0.5rem;
}
.skill_logo {
  height: 50px;
}
/* -----------Contact--------  */
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
  font-size: 20px;
}
.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.btn.btn2 {
  display: inline-block;
  background: #ff004f;
  font-size: 20px;
  transition: background 0.5s;
}
.btn.btn2 i {
  padding-right: 8px;
}
.btn.btn2:hover {
  background: #080808;
}

.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2 {
  padding: 14px 50px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 8px 0 0 0;
  /* background: #262626; */
  font-weight: 300;
  margin-top: 20px;
}
.copyright p {
  background: #262626;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
  box-shadow: 1px 0 5px 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}
#top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  /* padding: 10px 15px; */
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease;
}
#top:hover {
  background-color: #555;
}
#top i{
  font-size:xx-large;
}
/* ----------small screen css---------  */
nav .fa-solid {
  display: none;
}
.menu {
  position: absolute;
  right: 40px;
  top: 30px;
}

@media only screen and (max-width: 800px) {
  #header {
    background-image: url(Utils/pbg.jpg);
  }
  .header-text {
    margin-top: 20%;
    font-size: 30px;
  }
  .header-text h1 {
    font-size: 40px;
    line-height: 60px;
  }
  nav .fa-solid {
    display: block;
    font-size: 35px;
  }
  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title {
    font-size: 45px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  .work-list {
    display: block;
  }
  .div2 {
    display: block;
  }
  .work {
    padding: 10px;
  }
  #nextBtn,
  #backBtn {
    display: none;
  }
  .work img {
    height: 270px;
  }
  .caption {
    padding: 40px 0 0 8px;
  }
  .lower {
    display: none;
  }
  .skills .s_container {
    padding: 0;
    margin: 0;
  }
  .skills .s_container .row {
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
  }
  .about_btn{
    flex-direction: column;
  }

}
@media only screen and (max-width: 500px) {
  #top {
    width: 0;
  }
  #top span {
    display: none;
  }
  .caption {
    padding: 0 0 0 8px;
  }
  .skills .s_container .row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 800px) and (max-width: 1300px) {
  #nextBtn,
  #backBtn {
    height: 20px;
    width: 20px;
    margin: 2px;
  }
  .work img {
    height: 250px;
  }
  .skills .s_container .row {
    grid-template-columns: repeat(4, 1fr);
  }
}


